.sixth-container {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sixth-container h1 {
  text-align: center;
}

.sixth-container h1 span {
  color: #5084f9;
}
